<ngb-carousel [interval]="5000" [pauseOnHover]="false" [showNavigationArrows]="true" [showNavigationIndicators]="true">
  <ng-template ngbSlide>
    <a routerLink="#"> <img src="/img/INTRO/COSDAY.png" alt="Primeiro Slide" class="d-block w-100 h-600">
      <div class="carousel-caption d-none d-md-block">
        </div>
    </a>
  </ng-template>

  <ng-template ngbSlide>
    <a routerLink="/coslovers"> <img src="/img/INTRO/banner02.webp" alt="Segundo Slide" class="d-block w-100 h-600">
      <div class="carousel-caption d-none d-md-block">
        </div>
    </a>
  </ng-template>

  <ng-template ngbSlide>
    <a routerLink="/cncosplay"> <img src="/img/INTRO/banner03.webp" alt="Terceiro Slide" class="d-block w-100 h-600">
      <div class="carousel-caption d-none d-md-block">
        </div>
    </a>
  </ng-template>

  <ng-template ngbSlide>
    <a routerLink="/apoiar"> <img src="/img/INTRO/banner04.webp" alt="Quarto Slide" class="d-block w-100 h-600">
      <div class="carousel-caption d-none d-md-block">
        </div>
    </a>
  </ng-template>
</ngb-carousel>
