/* src/styles.css */

/* REMOVA TODAS AS LINHAS DE @IMPORT NO INÍCIO DO ARQUIVO! */

:root {
  --cor-fonte-principal: aliceblue;
  --cor-fonte-secundaria: #eeeeee;
  --cor-fonte-bordas: white;
  --cor-menu: #000000;
  --cor-footer: #000000;
  --cor-preto: #000000;
  --cor-corpo: #09122c;
  --cor-span: #4ab5f3;
  --cor-button: #071952;
  --cor-ouro:#ffbf10;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: rgb(255, 255, 255);
  /* background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 8%,
    rgba(8, 4, 52, 1) 50%,
    rgba(0, 0, 0, 1) 92%
  ); */
  padding-top: 150px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

app-menu {
  flex-shrink: 0;
}

app-footer {
  flex-shrink: 0;
}
