<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top" [class.scrolled]="isScrolled">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home">
      <img src="/img/LOGO MENU-RODAPÉ/2-LOGO PRETA NOME.png" alt="Logo da Empresa" class="navbar-logo" />
    </a>

    <button
      class="navbar-toggler"
      type="button"
      (click)="isMenuCollapsed = !isMenuCollapsed"
      aria-controls="navbarSupportedContent"
      [attr.aria-expanded]="!isMenuCollapsed"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      class="collapse navbar-collapse"
      id="navbarSupportedContent"
      [(ngbCollapse)]="isMenuCollapsed"
    >
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" (click)="onHome()">INICIO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="onSobre()">SOBRE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="onFotos()">FOTOS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="onAgenda()">AGENDAR</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="onApoiar()">APOIAR</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="onContato()">CONTATO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="onInscricao()">INSCRIÇÕES/EDITAIS</a>
        </li>
        <li class="nav-item dropdown" ngbDropdown>
          <a
            class="nav-link dropdown-toggle"
            role="button"
            id="dropdownCosnecte"
            ngbDropdownToggle
            aria-expanded="false"
          >
            COSNECT-SE
          </a>
          <ul
            ngbDropdownMenu
            aria-labelledby="dropdownCosnecte"
            class="dropdown-menu"
          >
            <li><a class="dropdown-item" (click)="onEventos()">EVENTOS</a></li>
            <li>
              <a class="dropdown-item" (click)="onCoordenacao()">COORDENAÇÃO</a>
            </li>
            <li>
              <a class="dropdown-item" (click)="onCoslovers()">COS LOVERS</a>
            </li>
            <li>
              <a class="dropdown-item" (click)="onCncosplay()">CN COSPLAY</a>
            </li>
          </ul>
        </li>
      </ul>
      <a class="navbar-brand" routerLink="/agenda">
        <div class="event-highlight-container">
          <div class="event-highlight-icon">
            <img src="/img/LOGO MENU-RODAPÉ/1.webp" alt="Ícone de Calendário" class="event-highlight-icon-img" />
          </div>
          <p class="event-highlight-date">JULHO 27/07</p>
        </div>
      </a>
      <form class="d-flex" role="search">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Pesquise"
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit">Buscar</button>
      </form>
    </div>
  </div>
</nav>
