<nav
  class="navbar navbar-expand-lg bg-body-tertiary fixed-top"
  [class.scrolled]="isScrolled"
>
  <div class="container-fluid">
    <a class="navbar-brand" (click)="onHome()">
      <img
        src="/img/LOGO MENU-RODAPÉ/2-LOGO PRETA NOME.png"
        alt="Logo da Empresa"
        class="navbar-logo"
      />
    </a>

    <a class="d-lg-none mx-auto" (click)="onAgenda()">
      <div class="event-highlight-container">
        <div class="event-highlight-icon">
          <img
            src="/img/LOGO MENU-RODAPÉ/1.webp"
            alt="Ícone de Calendário"
            class="event-highlight-icon-img"
          />
        </div>
        <p class="event-highlight-date">JULHO 27/07</p>
      </div>
    </a>

    <button
      class="navbar-toggler"
      type="button"
      (click)="isMenuCollapsed = !isMenuCollapsed"
      aria-controls="navbarSupportedContent"
      [attr.aria-expanded]="!isMenuCollapsed"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      class="collapse navbar-collapse"
      id="navbarSupportedContent"
      [(ngbCollapse)]="isMenuCollapsed"
    >
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" (click)="onHome()">INICIO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="onSobre()">SOBRE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="onFotos()">FOTOS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="onAgenda()">AGENDA</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="onApoiar()">APOIAR</a>
        </li>
        <li class="nav-item dropdown" ngbDropdown>
          <a
            class="nav-link dropdown-toggle"
            role="button"
            id="dropdownInscricoes"
            ngbDropdownToggle
            aria-expanded="false"
          >
            EDITAIS
          </a>
          <ul
            ngbDropdownMenu
            aria-labelledby="dropdownInscricoes"
            class="dropdown-menu"
          >
            <li>
              <a class="dropdown-item" (click)="onInscricao()">Inscrições</a>
            </li>
            <li>
              <a class="dropdown-item" (click)="onRegulamento()">Regulamento</a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown" ngbDropdown>
          <a
            class="nav-link dropdown-toggle"
            role="button"
            id="dropdownCosnecte"
            ngbDropdownToggle
            aria-expanded="false"
          >
            COSNECT-SE
          </a>
          <ul
            ngbDropdownMenu
            aria-labelledby="dropdownCosnecte"
            class="dropdown-menu"
          >
            <li>
              <a class="dropdown-item" (click)="onCoordenacao()">Coordenação</a>
            </li>
            <li>
              <a class="dropdown-item" (click)="onCoslovers()">Cos Lovers</a>
            </li>
            <li>
              <a class="dropdown-item" (click)="onCncosplay()">CN Cosplay</a>
            </li>
          </ul>
        </li>
      </ul>

      <a class="navbar-brand d-none d-lg-block" (click)="onAgenda()">
        <div class="event-highlight-container">
          <div class="event-highlight-icon">
            <img
              src="/img/LOGO MENU-RODAPÉ/1.webp"
              alt="Ícone de Calendário"
              class="event-highlight-icon-img"
            />
          </div>
          <p class="event-highlight-date">JULHO 27/07</p>
        </div>
      </a>

      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <ng-container *ngIf="!(authService.currentUser$ | async)">
          <li class="nav-item">
            <a class="nav-link" (click)="onLogin()">LOGIN</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="onCadastro()">INSCREVA-SE</a>
          </li>
        </ng-container>

        <ng-container *ngIf="authService.currentUser$ | async as user">
          <li class="nav-item dropdown" ngbDropdown>
            <a
              class="nav-link dropdown-toggle text-success fw-bold"
              role="button"
              id="navbarUserDropdown"
              ngbDropdownToggle
              aria-expanded="false"
            >
              {{ user.nome }}
            </a>
            <ul
              ngbDropdownMenu
              aria-labelledby="navbarUserDropdown"
              class="dropdown-menu dropdown-menu-end"
            >
              <li *ngIf="user.isAdmin">
                <a class="dropdown-item" (click)="onAdminPanel()"
                  >Painel Admin</a
                >
              </li>
              <li>
                <a class="dropdown-item" (click)="onMeuPerfil()">Meu Perfil</a>
              </li>
              <li><hr class="dropdown-divider" /></li>
              <li><a class="dropdown-item" (click)="onLogout()">Sair</a></li>
            </ul>
          </li>
        </ng-container>
      </ul>
    </div>
  </div>
</nav>
